<br/><br/>
<div class="container">
  <%= form_for [@payment] do |f| %>
     <div class="form-group">
       <%= f.label :amount %><br/>
       <%= f.text_field :amount %>
    </div>




    <%= f.submit 'Submit', :class => "btn btn-success" %>
  <% end %>
</div>
